@font-face {
  font-family: 'Array-Regular';
  src: url('../fonts/Array-Regular.woff2') format('woff2'),
       url('../fonts/Array-Regular.woff') format('woff'),
       url('../fonts/Array-Regular.ttf') format('truetype');
       font-weight: 400;
       font-display: swap;
       font-style: normal;
}


@font-face {
  font-family: 'Array-Wide';
  src: url('../fonts/Array-Wide.woff2') format('woff2'),
       url('../fonts/Array-Wide.woff') format('woff'),
       url('../fonts/Array-Wide.ttf') format('truetype');
       font-weight: 400;
       font-display: swap;
       font-style: normal;
}


@font-face {
  font-family: 'Array-Semibold';
  src: url('../fonts/Array-Semibold.woff2') format('woff2'),
       url('../fonts/Array-Semibold.woff') format('woff'),
       url('../fonts/Array-Semibold.ttf') format('truetype');
       font-weight: 600;
       font-display: swap;
       font-style: normal;
}


@font-face {
  font-family: 'Array-SemiboldWide';
  src: url('../fonts/Array-SemiboldWide.woff2') format('woff2'),
       url('../fonts/Array-SemiboldWide.woff') format('woff'),
       url('../fonts/Array-SemiboldWide.ttf') format('truetype');
       font-weight: 600;
       font-display: swap;
       font-style: normal;
}


@font-face {
  font-family: 'Array-Bold';
  src: url('../fonts/Array-Bold.woff2') format('woff2'),
       url('../fonts/Array-Bold.woff') format('woff'),
       url('../fonts/Array-Bold.ttf') format('truetype');
       font-weight: 700;
       font-display: swap;
       font-style: normal;
}


@font-face {
  font-family: 'Array-BoldWide';
  src: url('../fonts/Array-BoldWide.woff2') format('woff2'),
       url('../fonts/Array-BoldWide.woff') format('woff'),
       url('../fonts/Array-BoldWide.ttf') format('truetype');
       font-weight: 700;
       font-display: swap;
       font-style: normal;
}

@font-face {
  font-family: 'Khand-Regular';
  src: url('../fonts/Khand-Regular.woff2') format('woff2'),
       url('../fonts/Khand-Regular.woff') format('woff'),
       url('../fonts/Khand-Regular.ttf') format('truetype');
       font-weight: 400;
       font-display: swap;
       font-style: normal;
}


html,
body {
  height: 100vh;
  padding: 0;
  color: antiquewhite;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

p {
  font-family: 'Khand-Regular';
  font-size: 1.5rem;
}


.content-box {
  background-color: black;
  margin: 10px 10px;
  box-sizing: border-box;
}

.main-content-container {
  display: flex;
  margin: auto;
  flex-direction: row;
  align-items: center;
  max-height: 90vh;
  padding: 1rem 0;
}

.spacer {
  min-width: 250px;
}

.text-paragraph {
  max-width: 67vw;
}

.header {
  align-items: center;
  font-size: 5vw;
  line-height: .8;
  padding-top: 1vh;
  font-family: 'Array-BoldWide';
}

.title-header {
  margin: 10px;
  text-align: left; 
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
